<div ng-if="$ctrl.item" ng-switch="$ctrl.state" layout="column">
    <!-- display state -->
    <div ng-switch-when="display" layout="row" layout-align="start center">
        <div flex="60" md-truncate>{{$ctrl.item.title}}</div>
        <div flex="30" layout="row" layout-align="space-between center" md-truncate>
            <div>{{$ctrl.item.author}}</div>
            <md-button type="button" class="md-icon-button md-mini" ng-click="$ctrl.toggleState('edit')">
                <md-icon class="material-icons">edit</md-icon>
            </md-button>
        </div>
        <div flex="10">
            <md-button class="md-icon-button md-mini"
                       aria-label="Delete Book"
                       ng-click="$ctrl.deleteItem()">
                <md-icon class="material-icons">delete</md-icon>
            </md-button>
        </div>
    </div>
    <!-- edit state -->
    <div ng-switch-when="edit" layout="row" layout-align="start center">
        <div flex="60" md-truncate>{{$ctrl.item.title}}</div>
        <div flex="30" layout="row" layout-align="space-between center">
            <form name="$ctrl.editBookForm" ng-submit="$ctrl.updateItem(['author'])" layout="row" flex>
                <md-input-container class="no-messages" flex>
                    <input type="text" name="author" ng-model="$ctrl.editItem.author" required aria-label="Author">
                </md-input-container>
            </form>
            <md-button type="button" class="md-icon-button md-mini" ng-click="$ctrl.toggleState('display')">
                <md-icon class="material-icons">cancel</md-icon>
            </md-button>
        </div>
        <div flex="10">
            <md-button class="md-icon-button md-mini"
                       aria-label="Delete Book"
                       ng-click="$ctrl.deleteItem()">
                <md-icon class="material-icons">delete</md-icon>
            </md-button>
        </div>
    </div>
    <md-divider></md-divider>
</div>