<section class="books-add">
    <div class="md-title">Add Book</div>
    <form name="$ctrl.addBookForm" ng-submit="$ctrl.addBook()">
        <md-input-container class="md-block">
            <label>Author</label>
            <input type="text" name="author" ng-model="$ctrl.author" required>
            <div ng-messages="$ctrl.addBookForm.author.$error">
                <div ng-message="required">Field is required</div>
            </div>
        </md-input-container>
        <md-input-container class="md-block">
            <label>Title</label>
            <input type="text" name="title" ng-model="$ctrl.title" required>
            <div ng-messages="$ctrl.addBookForm.title.$error">
                <div ng-message="required">Field is required</div>
            </div>
        </md-input-container>
        <div>
            <md-button type="submit"
                       ng-disabled="!$ctrl.addBookForm.$valid"
                       class="md-raised md-primary md-button">Add</md-button>
        </div>
    </form>
</section>