.material-icons {
  &.activeable {
    &:not(.active) {
      color: $color-icon-passive;
    }
  }
}
md-input-container {
  &.no-messages {
    margin: 0;

    .md-errors-spacer,
    .md-input-messages-animation {
      display: none;
    }
  }
}
