<div class="main-layout-content" layout-fill layout="row">
    <md-sidenav md-component-id="left" class="md-sidenav-left" md-is-locked-open="true" md-whiteframe="4">
        <md-content flex layout-margin layout="column">
            <books-search></books-search>
            <md-divider></md-divider>
            <books-add></books-add>
            <md-divider></md-divider>
            <export></export>
        </md-content>
    </md-sidenav>
    <md-content flex layout-margin layout="column">
        <books-list layout-fill></books-list>
    </md-content>
</div>