<section class="books-search">
    <form name="$ctrl.searchForm" ng-submit="$ctrl.runSearch()">
        <md-input-container class="md-icon-left md-block">
            <md-icon class="material-icons">search</md-icon>
            <label>Search</label>
            <input type="text" name="searchTerm" ng-model="$ctrl.searchTerm">
        </md-input-container>
    </form>
</section>