<section class="export">
    <div class="md-title">Export All</div>
    <div ng-switch="$ctrl.state">
        <div ng-switch-when="form">
            <form name="$ctrl.exportForm" ng-submit="$ctrl.sendExport()">
                <p>Format:</p>
                <md-radio-group name="format" ng-model="$ctrl.format" ng-required="true">
                    <md-radio-button value="csv" aria-label="csv">csv</md-radio-button>
                    <md-radio-button value="xml" aria-label="xml">xml</md-radio-button>
                </md-radio-group>
                <p>Columns:</p>
                <md-checkbox name="columns.title"
                             ng-model="$ctrl.columns.title"
                             ng-required="!$ctrl.columns.author && !$ctrl.columns.title"
                             aria-label="Title">Title</md-checkbox>
                <md-checkbox name="columns.author"
                             ng-model="$ctrl.columns.author"
                             ng-required="!$ctrl.columns.author && !$ctrl.columns.title"
                             aria-label="Title">Author</md-checkbox>
                <div>
                    <md-button type="submit"
                               ng-disabled="!$ctrl.exportForm.$valid"
                               class="md-raised md-primary md-button">Export</md-button>
                </div>
            </form>
        </div>
        <div ng-switch-when="progress">
            <p>Status: {{$ctrl.progress.status}}</p>
            <p>
                <md-progress-linear md-mode="determinate" ng-value="$ctrl.progress.percentage"></md-progress-linear>
            </p>
        </div>
        <div ng-switch-when="finished" layout="row" layout-align="start center">
            <div flex="60"><p>Export is ready:</p></div>
            <div flex="40">
                <a class="md-primary md-button md-ink-ripple"
                   ng-href="{{$ctrl.progress.downloadLink}}"
                   target="_blank">Download</a>
            </div>
        </div>
        <div ng-switch-when="unknown" layout="row" layout-align="start center">
            <div flex="60"><p>Something went wrong</p></div>
            <div flex="40">
                <md-button type="button"
                           class="md-raised md-primary md-button"
                           ng-click="$ctrl.reset()">Retry</md-button>
            </div>
        </div>
    </div>
</section>