<section class="books-list" layout="column" layout-margin layout-fill>
    <div layout="row" layout-align="start center">
        <div flex="60">
            <span>Title</span>
            <md-button type="button" class="md-icon-button md-mini" ng-click="$ctrl.toggleSortButton('title')">
                <md-icon class="material-icons activeable"
                         ng-class="{'active' : $ctrl.state.sort === 'title'}">
                    {{$ctrl.getIconForSort('title')}}
                </md-icon>
            </md-button>
        </div>
        <div flex="30">
            <span>Author</span>
            <md-button type="button" class="md-icon-button md-mini" ng-click="$ctrl.toggleSortButton('author')">
                <md-icon class="material-icons activeable"
                         ng-class="{'active' : $ctrl.state.sort === 'author'}">
                    {{$ctrl.getIconForSort('author')}}
                </md-icon>
            </md-button>
        </div>
        <div flex="10">Action</div>
    </div>
    <md-virtual-repeat-container md-top-index="$ctrl.scrollProcessor.topIndex" flex>
        <div md-virtual-repeat="book in $ctrl.scrollProcessor" md-on-demand md-item-size="40">
            <book-item book="book"></book-item>
        </div>
        <div layout="row" layout-align="center center" layout-margin>
            <md-progress-circular ng-if="$ctrl.nullCheck($ctrl.total) || $ctrl.total > $ctrl.items.length"
                                  md-mode="indeterminate"
                                  md-diameter="24"></md-progress-circular>
        </div>
    </md-virtual-repeat-container>
</section>